.green {
  color: chartreuse;
}
.ok {
  font-size: 50px;
  font-family: cursive;
}
.link-button {
  text-decoration: none;
  background-color: orange;
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 60%;
}
.cen-ter {
  text-align: center;
  font-size: 40px;
}
#orange {
  color: rgb(233, 12, 12);
}
.mms {
  width: 400px;
  height: 300px;
  background-color: moccasin;
  margin: 5px 5px;
  border-radius: 5px;
}
.mms img {
  width: 150px;
  height: 150px;
}
.okk {
  text-align: center;
  font-size: 50px;
}
#okkk {
  color: blue;
}
.finsh {
  text-align: center;
  background-color: black;
  color: aliceblue;
}
